#photo_gallery {
    height: 900px;
    background-color: bisque;
}

.photo-column {
    height: 900px;
    background-color: sienna;
}

.photo-sm {
    width: 100%;
    height: 380px;
    background-color: rgb(221, 200, 190);
    margin: 20px;
    overflow: hidden;
}

.photo-big {
    width: 100%;
    height: 480px;
    background-color: rgb(150, 118, 90);
    margin: 20px;
    overflow: hidden;
}

@media(min-width:575.98px) {
    #photo_gallery {
        margin-top: 20px;
        width: 100%;
        height: 3600px;
    }
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media(min-width:767.98px) {
    #photo_gallery {
        margin-top: 20px;
        width: 100%;
        height: 1800px;
    }
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media(min-width:991.98px) {
    #photo_gallery {
        margin-top: 20px;
        width: 100%;
        height: 900px;
    }
    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}